/*
    Theme Name:   Storefront Child
    Description:  Storefront Child Theme
    Author:       Claus Hennig
    Template:     storefront
    Version:      1.0.0
    License:      GNU General Public License v2 or later
    License URI:  http://www.gnu.org/licenses/gpl-2.0.html
    Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
    Text Domain:  storefrontchild
 */
 .storefront-product-categories {
    display: none;
 }

 .storefront-breadcrumb {
    margin-bottom: 0px;
 }

 .woocommerce-products-header {
    display: none;
 }

.container_banner img, .banner img{
   opacity: 0.5;
 }


 .banner_default_title {
   font-weight: bold;
 }

 @media screen and (max-width: 770px){
   .banner_default_title {
      font-size: 80px !important;
   }
 }
 @media screen and (max-width: 500px){
   .banner_default_title {
      font-size: 60px !important;
   }
 }
 @media screen and (max-width: 350px){
   .banner_default_title {
      font-size: 40px !important;
   }
 }

 /* checkout page */
 .woocommerce-form-coupon-toggle, .coupon {
   display: none !important;
 }


 /* landing pages */
 .my-landing-page-container {
   margin: auto;
   padding: 5px;
   width: 50%;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 @media screen and (max-width: 770px){
   .my-landing-page-container {
      width: 100%;
   }
 }